@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');    

body{
    height: 100vh;
    margin: 0;
}

#root {
    background: linear-gradient(344deg, #ffaaff, #dddaaa, #ff0000, #00ff00, #0000ff);
    background-size: 1000% 1000%;
    min-height: 100%;
    -webkit-animation: AnimationName 55s ease infinite;
    -moz-animation: AnimationName 55s ease infinite;
    animation: AnimationName 55s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name{
    font-size: 1000%;
    font-family: 'Quicksand', sans-serif;
}

@-webkit-keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}
@keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}